.icon {
  background-image: inherit;
  background-color: currentcolor;
  -webkit-mask-size: cover;
  -o-mask-size: cover;
  content: "";
  -moz-mask-size: cover;
  background-position: center center;
  display: inline-block;  
}
.icon_16 {
  width: 16px;
  height: 16px;
}
.icon_24 {
  width: 24px;
  height: 24px;
}
.icon_20 {
  width: 20px;
  height: 20px;
}
.icon_32 {
  width: 32px;
  height: 32px;
}
.icon_36 {
  width: 36px;
  height: 36px;
}
.icon_48 {
  width: 48px;
  height: 48px;
}
.icon_60 {
  width: 60px;
  height: 60px;
}
.icon_160 {
  width: 160px;
  height: 160px;
}
.icon_back {
  -webkit-mask-image: url(../general/icon/icon_back.svg);
  -o-mask-image: url(../general/icon/icon_back.svg);
  -moz-mask-image: url(../general/icon/icon_back.svg);
}
.icon_maps {
  -webkit-mask-image: url(../general/icon/icon_map.svg);
  -o-mask-image: url(../general/icon/icon_map.svg);
  -moz-mask-image: url(../general/icon/icon_map.svg);
}
.icon_cart {
  -webkit-mask-image: url(../general/icon/icon_cart.svg);
  -o-mask-image: url(../general/icon/icon_cart.svg);
  -moz-mask-image: url(../general/icon/icon_cart.svg);
}
.icon_delete {
  -webkit-mask-image: url(../general/icon/icon_delete.svg);
  -o-mask-image: url(../general/icon/icon_delete.svg);
  -moz-mask-image: url(../general/icon/icon_delete.svg);
}
.icon_history {
  -webkit-mask-image: url(../general/icon/icon_history.svg);
  -o-mask-image: url(../general/icon/icon_history.svg);
  -moz-mask-image: url(../general/icon/icon_history.svg);
}
.zmdi-home:before {
  -webkit-mask-image: url(../general/icon/icon_tab1.svg);
  -o-mask-image: url(../general/icon/icon_tab1.svg);
  -moz-mask-image: url(../general/icon/icon_tab1.svg);
}
.zmdi-view-list:before {
  -webkit-mask-image: url(../general/icon/icon_tab2.svg);
  -o-mask-image: url(../general/icon/icon_tab2.svg);
  -moz-mask-image: url(../general/icon/icon_tab2.svg);
}
.zmdi-shopping-cart:before {
  -webkit-mask-image: url(../general/icon/icon_tab3.svg);
  -o-mask-image: url(../general/icon/icon_tab3.svg);
  -moz-mask-image: url(../general/icon/icon_tab3.svg);
}
.zmdi-notifications-none:before {
  -webkit-mask-image: url(../general/icon/icon_tab4.svg);
  -o-mask-image: url(../general/icon/icon_tab4.svg);
  -moz-mask-image: url(../general/icon/icon_tab4.svg);
}
.zmdi-account-circle:before {
  -webkit-mask-image: url(../general/icon/icon_tab5.svg);
  -o-mask-image: url(../general/icon/icon_tab5.svg);
  -moz-mask-image: url(../general/icon/icon_tab5.svg);
}

.zmdi-landingpage1:before {
  -webkit-mask-image: url(../general/icon/zmdi-landingpage1.svg);
  -o-mask-image: url(../general/icon/zmdi-landingpage1.svg);
  -moz-mask-image: url(../general/icon/zmdi-landingpage1.svg);
}
.zmdi-landingpage2:before {
  -webkit-mask-image: url(../general/icon/zmdi-landingpage2.svg);
  -o-mask-image: url(../general/icon/zmdi-landingpage2.svg);
  -moz-mask-image: url(../general/icon/zmdi-landingpage2.svg);
}
.zmdi-landingpage3:before {
  -webkit-mask-image: url(../general/icon/zmdi-landingpage3.svg);
  -o-mask-image: url(../general/icon/zmdi-landingpage3.svg);
  -moz-mask-image: url(../general/icon/zmdi-landingpage3.svg);
}
.zmdi-landingpage4:before {
  -webkit-mask-image: url(../general/icon/zmdi-landingpage4.svg);
  -o-mask-image: url(../general/icon/zmdi-landingpage4.svg);
  -moz-mask-image: url(../general/icon/zmdi-landingpage4.svg);
}
.icon_arrow_right {
  -webkit-mask-image: url(../general/icon/arrow_right.svg);
  -o-mask-image: url(../general/icon/arrow_right.svg);
  -moz-mask-image: url(../general/icon/arrow_right.svg);
}
:checked + .tabbar__button .tabbar__icon + .tabbar__label {
  font-weight: 600;
}
.category-menu :checked + .tabbar__button .tabbar__icon + .tabbar__label {
  font-weight: 700;
}
:checked + .tabbar__button .zmdi-home:before {
  -webkit-mask-image: url(../general/icon/icon_tab1_a.svg);
  -o-mask-image: url(../general/icon/icon_tab1_a.svg);
  -moz-mask-image: url(../general/icon/icon_tab1_a.svg);
}
:checked + .tabbar__button .zmdi-view-list:before {
  -webkit-mask-image: url(../general/icon/icon_tab2_a.svg);
  -o-mask-image: url(../general/icon/icon_tab2_a.svg);
  -moz-mask-image: url(../general/icon/icon_tab2_a.svg);
}
:checked + .tabbar__button .zmdi-shopping-cart:before {
  -webkit-mask-image: url(../general/icon/icon_tab3_a.svg);
  -o-mask-image: url(../general/icon/icon_tab3_a.svg);
  -moz-mask-image: url(../general/icon/icon_tab3_a.svg);
}
:checked + .tabbar__button .zmdi-notifications-none:before {
  -webkit-mask-image: url(../general/icon/icon_tab4_a.svg);
  -o-mask-image: url(../general/icon/icon_tab4_a.svg);
  -moz-mask-image: url(../general/icon/icon_tab4_a.svg);
}
:checked + .tabbar__button .zmdi-account-circle:before {
  -webkit-mask-image: url(../general/icon/icon_tab5_a.svg);
  -o-mask-image: url(../general/icon/icon_tab5_a.svg);
  -moz-mask-image: url(../general/icon/icon_tab5_a.svg);
}
.icon_close {
  background-image: url(../general/icon/close.svg);
  background-position: center center;
  background-size: 32px;
  background-repeat: no-repeat;
}
.icon_top {
  background-position: center center;
  background-size: 36px;
  background-repeat: no-repeat;
  display: block;
  content: "";
  width: 36px;
  height: 36px;
}
.icon_top1 {
  background-image: url(../general/icon/icon_top1.svg);
}
.icon_top2 {
  background-image: url(../general/icon/icon_top2.svg);
}
.icon_top3 {
  background-image: url(../general/icon/icon_top3.svg);
}
.ic_drop {
  -webkit-mask-image: url(../general/icon/icon_drop.svg);
  -o-mask-image: url(../general/icon/icon_drop.svg);
  -moz-mask-image: url(../general/icon/icon_drop.svg);
}
.ic_up {
  -webkit-mask-image: url(../general/icon/icon_drop.svg);
  -o-mask-image: url(../general/icon/icon_drop.svg);
  -moz-mask-image: url(../general/icon/icon_drop.svg);
  transform: rotate(180deg);
}
.icon_filter {
  -webkit-mask-image: url(../general/icon/icon_filter.svg);
  -o-mask-image: url(../general/icon/icon_filter.svg);
  -moz-mask-image: url(../general/icon/icon_filter.svg);
}
.active .icon_list,
.icon_grid {
  -webkit-mask-image: url(../general/icon/icon_grid.svg);
  -o-mask-image: url(../general/icon/icon_grid.svg);
  -moz-mask-image: url(../general/icon/icon_grid.svg);
}
.icon_list {
  -webkit-mask-image: url(../general/icon/icon_list.svg);
  -o-mask-image: url(../general/icon/icon_list.svg);
  -moz-mask-image: url(../general/icon/icon_list.svg);
}
.icon_price_filter {
  -webkit-mask-image: url(../general/icon/icon_price_filter.svg);
  -o-mask-image: url(../general/icon/icon_price_filter.svg);
  -moz-mask-image: url(../general/icon/icon_price_filter.svg);
}
.icon_gift {
  -webkit-mask-image: url(../general/icon/icon_gift.svg);
  -o-mask-image: url(../general/icon/icon_gift.svg);
  -moz-mask-image: url(../general/icon/icon_gift.svg);
}
.icon_share {
  -webkit-mask-image: url(../general/icon/icon_share.svg);
  -o-mask-image: url(../general/icon/icon_share.svg);
  -moz-mask-image: url(../general/icon/icon_share.svg);
}
.icon_fill {
  -webkit-mask-image: url(../general/icon/icon_fill.svg);
  -o-mask-image: url(../general/icon/icon_fill.svg);
  -moz-mask-image: url(../general/icon/icon_fill.svg);
}
.icon_plus {
  -webkit-mask-image: url(../general/icon/icon_plus.svg);
  -o-mask-image: url(../general/icon/icon_plus.svg);
  -moz-mask-image: url(../general/icon/icon_plus.svg);
}
.icon_fill_hori {
  -webkit-mask-image: url(../general/icon/icon_fill_hori.svg);
  -o-mask-image: url(../general/icon/icon_fill_hori.svg);
  -moz-mask-image: url(../general/icon/icon_fill_hori.svg);
}
.icon_copy {
  -webkit-mask-image: url(../general/icon/icon_copy.svg);
  -o-mask-image: url(../general/icon/icon_copy.svg);
  -moz-mask-image: url(../general/icon/icon_copy.svg);
}
.icon_ticket {
  -webkit-mask-image: url(../general/icon/icon_ticket.svg);
  -o-mask-image: url(../general/icon/icon_ticket.svg);
  -moz-mask-image: url(../general/icon/icon_ticket.svg);
}
.icon_tick {
  -webkit-mask-image: url(../general/icon/icon_tick.svg);
  -o-mask-image: url(../general/icon/icon_tick.svg);
  -moz-mask-image: url(../general/icon/icon_tick.svg);
}
.ic_close {
  -webkit-mask-image: url(../general/icon/button_close.svg);
  -o-mask-image: url(../general/icon/button_close.svg);
  -moz-mask-image: url(../general/icon/button_close.svg);
}
.icon_expand {
  -webkit-mask-image: url(../general/icon/icon_expand.svg);
  -o-mask-image: url(../general/icon/icon_expand.svg);
  -moz-mask-image: url(../general/icon/icon_expand.svg);
}
.icon_minus {
  -webkit-mask-image: url(../general/icon/icon_minus.svg);
  -o-mask-image: url(../general/icon/icon_minus.svg);
  -moz-mask-image: url(../general/icon/icon_minus.svg);
}
.icon_plus {
  -webkit-mask-image: url(../general/icon/icon_plus.svg);
  -o-mask-image: url(../general/icon/icon_plus.svg);
  -moz-mask-image: url(../general/icon/icon_plus.svg);
}
.icon_policy1 {
  -webkit-mask-image: url(../general/icon/icon_policy1.svg);
  -o-mask-image: url(../general/icon/icon_policy1.svg);
  -moz-mask-image: url(../general/icon/icon_policy1.svg);
}
.icon_policy2 {
  -webkit-mask-image: url(../general/icon/icon_policy2.svg);
  -o-mask-image: url(../general/icon/icon_policy2.svg);
  -moz-mask-image: url(../general/icon/icon_policy2.svg);
}
.icon_policy3 {
  -webkit-mask-image: url(../general/icon/icon_policy3.svg);
  -o-mask-image: url(../general/icon/icon_policy3.svg);
  -moz-mask-image: url(../general/icon/icon_policy3.svg);
}
.icon_policy4 {
  -webkit-mask-image: url(../general/icon/icon_policy4.svg);
  -o-mask-image: url(../general/icon/icon_policy4.svg);
  -moz-mask-image: url(../general/icon/icon_policy4.svg);
}
.icon_policy5 {
  -webkit-mask-image: url(../general/icon/icon_policy5.svg);
  -o-mask-image: url(../general/icon/icon_policy5.svg);
  -moz-mask-image: url(../general/icon/icon_policy5.svg);
}
.icon_policy6 {
  -webkit-mask-image: url(../general/icon/icon_policy6.svg);
  -o-mask-image: url(../general/icon/icon_policy6.svg);
  -moz-mask-image: url(../general/icon/icon_policy6.svg);
}
.icon_warning {
  -webkit-mask-image: url(../general/icon/icon_warning.svg);
  -o-mask-image: url(../general/icon/icon_warning.svg);
  -moz-mask-image: url(../general/icon/icon_warning.svg);
}
.icon_success {
  -webkit-mask-image: url(../general/icon/icon_success.svg);
  -o-mask-image: url(../general/icon/icon_success.svg);
  -moz-mask-image: url(../general/icon/icon_success.svg);
}
.icon_x {
  -webkit-mask-image: url(../general/icon/icon_x.svg);
  -o-mask-image: url(../general/icon/icon_x.svg);
  -moz-mask-image: url(../general/icon/icon_x.svg);
}
.icon_category_01::before {
  background-image: url(../general/category/icon_category_01.svg);
}
.icon_category_02::before {
  background-image: url(../general/category/icon_category_02.svg);
}
.icon_category_03::before {
  background-image: url(../general/category/icon_category_03.svg);
}
.icon_category_04::before {
  background-image: url(../general/category/icon_category_04.svg);
}
.icon_category_05::before {
  background-image: url(../general/category/icon_category_05.svg);
}
.icon_category_06::before {
  background-image: url(../general/category/icon_category_06.svg);
}
.icon_category_07::before {
  background-image: url(../general/category/icon_category_07.svg);
}
.icon_category_08::before {
  background-image: url(../general/category/icon_category_08.svg);
}
.icon_category_09::before {
  background-image: url(../general/category/icon_category_09.svg);
}
.icon_category_10::before {
  background-image: url(../general/category/icon_category_10.svg);
}
.icon_category_11::before {
  background-image: url(../general/category/icon_category_11.svg);
}
.icon_category_12::before {
  background-image: url(../general/category/icon_category_12.svg);
}

:checked + .tabbar__button .icon_category_01::before {
  background-image: url(../general/category/icon_category_01_active.svg);
}
:checked + .tabbar__button .icon_category_02::before {
  background-image: url(../general/category/icon_category_02_active.svg);
}
.title-link {
  position: relative;
  display: block;
  padding-right: 24px;
}
.title-link::after {
  background-image: url(../general/icon/arrow_right.svg);
  content: "";
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  right: 0;
  top: 50%;
  margin-top: -8px;
  display: block;
  background-size: cover;
}
.arrow-right-24.title-link::after {
  margin-top: -12px;
}
.arrow-right::after {
  background-image: url(../general/icon/arrow_right.svg);
}
.arrow-right-24::after {
  width: 24px;
  height: 24px;
}
.icon_account_01 {
  -webkit-mask-image: url(../general/icon/icon_account_01.svg);
  -o-mask-image: url(../general/icon/icon_account_01.svg);
  -moz-mask-image: url(../general/icon/icon_account_01.svg);
}
.icon_account_02 {
  -webkit-mask-image: url(../general/icon/icon_account_02.svg);
  -o-mask-image: url(../general/icon/icon_account_02.svg);
  -moz-mask-image: url(../general/icon/icon_account_02.svg);
}
.icon_account_03 {
  -webkit-mask-image: url(../general/icon/icon_account_03.svg);
  -o-mask-image: url(../general/icon/icon_account_03.svg);
  -moz-mask-image: url(../general/icon/icon_account_03.svg);
}
.icon_account_04 {
  -webkit-mask-image: url(../general/icon/icon_account_04.svg);
  -o-mask-image: url(../general/icon/icon_account_04.svg);
  -moz-mask-image: url(../general/icon/icon_account_04.svg);
}
.icon_account_05 {
  -webkit-mask-image: url(../general/icon/icon_account_05.svg);
  -o-mask-image: url(../general/icon/icon_account_05.svg);
  -moz-mask-image: url(../general/icon/icon_account_05.svg);
}


.icon_account_sub_01 {
  -webkit-mask-image: url(../general/icon/icon_account_sub_01.svg);
  -o-mask-image: url(../general/icon/icon_account_sub_01.svg);
  -moz-mask-image: url(../general/icon/icon_account_sub_01.svg);
}
.icon_account_sub_02 {
  -webkit-mask-image: url(../general/icon/icon_account_sub_02.svg);
  -o-mask-image: url(../general/icon/icon_account_sub_02.svg);
  -moz-mask-image: url(../general/icon/icon_account_sub_02.svg);
}
.icon_account_sub_03 {
  -webkit-mask-image: url(../general/icon/icon_account_sub_03.svg);
  -o-mask-image: url(../general/icon/icon_account_sub_03.svg);
  -moz-mask-image: url(../general/icon/icon_account_sub_03.svg);
}
.icon_edit {
  -webkit-mask-image: url(../general/icon/icon_edit.svg);
  -o-mask-image: url(../general/icon/icon_edit.svg);
  -moz-mask-image: url(../general/icon/icon_edit.svg);
}
.icon_album {
  -webkit-mask-image: url(../general/icon/icon_album.svg);
  -o-mask-image: url(../general/icon/icon_album.svg);
  -moz-mask-image: url(../general/icon/icon_album.svg);
}
.icon_camera {
  -webkit-mask-image: url(../general/icon/icon_camera.svg);
  -o-mask-image: url(../general/icon/icon_camera.svg);
  -moz-mask-image: url(../general/icon/icon_camera.svg);
}
.icon_date {
  -webkit-mask-image: url(../general/icon/icon_date.svg);
  -o-mask-image: url(../general/icon/icon_date.svg);
  -moz-mask-image: url(../general/icon/icon_date.svg);
}
.icon_add {
  -webkit-mask-image: url(../general/icon/icon_add.svg);
  -o-mask-image: url(../general/icon/icon_add.svg);
  -moz-mask-image: url(../general/icon/icon_add.svg);
}
.icon_arrow_drop {
  -webkit-mask-image: url(../general/icon/icon_drop.svg);
  -o-mask-image: url(../general/icon/icon_drop.svg);
  -moz-mask-image: url(../general/icon/icon_drop.svg);
}
.icon_filter_line {
  -webkit-mask-image: url(../general/icon/icon_filter_line.svg);
  -o-mask-image: url(../general/icon/icon_filter_line.svg);
  -moz-mask-image: url(../general/icon/icon_filter_line.svg);
}
.icon_set_default{
  -webkit-mask-image: url(../general/icon/icon_set_default.svg);
  -o-mask-image: url(../general/icon/icon_set_default.svg);
  -moz-mask-image: url(../general/icon/icon_set_default.svg);
}
.icon_contract {
  -webkit-mask-image: url(../general/icon/icon_contract.svg);
  -o-mask-image: url(../general/icon/icon_contract.svg);
  -moz-mask-image: url(../general/icon/icon_contract.svg);
}
.icon_aleft {
  -webkit-mask-image: url(../general/icon/icon_aleft.svg);
  -o-mask-image: url(../general/icon/icon_aleft.svg);
  -moz-mask-image: url(../general/icon/icon_aleft.svg);
}
.icon_search {
  -webkit-mask-image: url(../general/icon/icon_search.svg);
  -o-mask-image: url(../general/icon/icon_search.svg);
  -moz-mask-image: url(../general/icon/icon_search.svg);
}
.icon-not-found {
  background-image: url(../general/icon/not-found.svg);
  background-repeat: no-repeat; display: inline-block;
}
.icon_maps{
  -webkit-mask-image: url(../general/icon/icon_maps.svg);
  -o-mask-image: url(../general/icon/icon_maps.svg);
  -moz-mask-image: url(../general/icon/icon_maps.svg);
}
.icon_ship{
  -webkit-mask-image: url(../general/icon/icon_ship.svg);
  -o-mask-image: url(../general/icon/icon_ship.svg);
  -moz-mask-image: url(../general/icon/icon_ship.svg);
}
.icon_payment{
  -webkit-mask-image: url(../general/icon/icon_payment.svg);
  -o-mask-image: url(../general/icon/icon_payment.svg);
  -moz-mask-image: url(../general/icon/icon_payment.svg);
}
.icon_gift{
  -webkit-mask-image: url(../general/icon/icon_gift.svg);
  -o-mask-image: url(../general/icon/icon_gift.svg);
  -moz-mask-image: url(../general/icon/icon_gift.svg);
}
.icon_arrow_right{
  -webkit-mask-image: url(../general/icon/arrow_right.svg);
  -o-mask-image: url(../general/icon/arrow_right.svg);
  -moz-mask-image: url(../general/icon/arrow_right.svg);
}
.icon_arrow_primary{
  -webkit-mask-image: url(../general/icon/icon_arrow_primary.svg);
  -o-mask-image: url(../general/icon/icon_arrow_primary.svg);
  -moz-mask-image: url(../general/icon/icon_arrow_primary.svg);
}
.icon_aleft_danger{
  -webkit-mask-image: url(../general/icon/icon_aleft_danger.svg);
  -o-mask-image: url(../general/icon/icon_aleft_danger.svg);
  -moz-mask-image: url(../general/icon/icon_aleft_danger.svg);
}
.icon_wait{
  -webkit-mask-image: url(../general/icon/icon_wait.svg);
  -o-mask-image: url(../general/icon/icon_wait.svg);
  -moz-mask-image: url(../general/icon/icon_wait.svg);
}
.icon_order_01 {
  -webkit-mask-image: url(../general/icon/icon_order_01.svg);
  -o-mask-image: url(../general/icon/icon_order_01.svg);
  -moz-mask-image: url(../general/icon/icon_order_01.svg);
}
.icon_order_02 {
  -webkit-mask-image: url(../general/icon/icon_order_02.svg);
  -o-mask-image: url(../general/icon/icon_order_02.svg);
  -moz-mask-image: url(../general/icon/icon_order_02.svg);
}
.icon_order_03 {
  -webkit-mask-image: url(../general/icon/icon_order_03.svg);
  -o-mask-image: url(../general/icon/icon_order_03.svg);
  -moz-mask-image: url(../general/icon/icon_order_03.svg);
}
.icon_order_04 {
  -webkit-mask-image: url(../general/icon/icon_order_04.svg);
  -o-mask-image: url(../general/icon/icon_order_04.svg);
  -moz-mask-image: url(../general/icon/icon_order_04.svg);
}
.order-icon {
  padding-bottom: 24px;
  min-height: 220px;
  background-repeat: no-repeat;
  padding-top: 115px;
}
.order-icon-01 { background-image: url(../general/bg/order-icon-01.svg);}
.order-icon-02 { background-image: url(../general/bg/order-icon-02.svg);}
.order-icon-03 { background-image: url(../general/bg/order-icon-03.svg);}
.icon_more {
  -webkit-mask-image: url(../general/icon/icon_more.svg);
  -o-mask-image: url(../general/icon/icon_more.svg);
  -moz-mask-image: url(../general/icon/icon_more.svg);
}